@layer components {
  .portfolio-panel {
    @apply rounded-2xl border bg-zinc-50/40 dark:bg-zinc-950/40 border-zinc-100 dark:border-zinc-900 shadow-xl p-6 sm:p-8 lg:p-10;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Dyanmic grid */
.grid {
  @apply grid gap-6;
}

.grid-1 {
  @apply grid-cols-1;
}

.grid-2 {
  @apply grid-cols-1 md:grid-cols-2;
}

.grid-3 {
  @apply grid-cols-1 md:grid-cols-2 lg:grid-cols-3;
}

.grid-4 {
  @apply grid-cols-1 md:grid-cols-2 lg:grid-cols-4;
}

.grid-5 {
  @apply grid-cols-2 md:grid-cols-3 lg:grid-cols-5;
}

.grid-6 {
  @apply grid-cols-2 md:grid-cols-3 lg:grid-cols-6;
}